{% extends 'base.html.twig' %}
{% block title %}Crear lugar{% endblock %}
{% block main %}
    {{ parent() }}
    <p>Creación de un nuevo lugar en <b>Symfoplaces</b></p>

    <div class="bg-light border row align-items-center justify-content-center my-3">
        <div class="col-6 p-4">
            {{ form(formulario) }}
        </div>
    </div>
{% endblock %}